In [2]:
from __future__ import absolute_import

import sys
import os
import pandas as pd
sys.path.append("../") # go to parent dir
import numpy as np

from mrcode.utils.file_utils import fileFinder

## Extract filenames from image_orders

In [3]:
image_order_1 = pd.read_csv('image_order.txt', delimiter='\t', dtype={'image_id': np.str})

In [4]:
image_order_1

    supercategory category      image_id
0          animal    horse  000000472776
1          animal    horse  000000439124
2          animal    horse  000000422729
3          animal    horse  000000579463
4          animal    horse  000000311957
5          animal    horse  000000135129
6          animal    horse  000000539984
7          animal    horse  000000300192
8          animal    horse  000000510175
9          animal    horse  000000331291
10         animal    horse  000000062298
11         animal    horse  000000323585
12         animal    horse  000000158824
13         animal    horse  000000532543
14         animal    horse  000000393677
15         animal    horse  000000510914
16         animal    horse  000000489266
17         animal    horse  000000104565
18         animal    horse  000000209320
19         animal    horse  000000552276
20         animal    horse  000000187401
21         animal    horse  000000578902
22         animal    horse  000000318814
23         animal    horse  000000359984
24         animal    horse  000000354491
25         animal    horse  000000266991
26         animal    horse  000000170638
27         animal    horse  000000471566
28         animal    horse  000000560853
29         animal    horse  000000064442
..            ...      ...           ...
660        indoor    clock  000000180623
661        indoor    clock  000000109835
662        indoor    clock  000000423990
663        indoor    clock  000000110308
664        indoor    clock  000000394866
665        indoor    clock  000000159680
666        indoor    clock  000000236324
667        indoor    clock  000000177166
668        indoor    clock  000000414244
669        indoor    clock  000000060409
670        indoor    clock  000000492379
671        indoor    clock  000000458568
672        indoor    clock  000000219920
673        indoor    clock  000000157176
674        indoor    clock  000000003084
675        indoor    clock  000000464993
676        indoor    clock  000000369669
677        indoor    clock  000000500446
678        indoor    clock  000000026227
679        indoor    clock  000000277433
680        indoor    clock  000000287384
681        indoor    clock  000000419211
682        indoor    clock  000000008218
683        indoor    clock  000000109169
684        indoor    clock  000000538209
685        indoor    clock  000000031024
686        indoor    clock  000000285914
687        indoor    clock  000000358724
688        indoor    clock  000000576956
689        indoor    clock  000000573483

[690 rows x 3 columns]

## Extract info from image_statistics

In [5]:
def processImageId(img_id):
    """
    Given an image id it adds zeroes to match the image_id of MS COCO

    # Arguments
        img_id: input id

    # Returns
        img_id: Id with leading zeros as string     
    """
    
    img_id = str(img_id)
    id_length = 12
    diff = id_length-len(img_id)

    if diff:
        img_id = "0"*diff+img_id
    return img_id

In [6]:
all_mscoco_info = pd.read_csv('../data/image_statistics.csv', dtype={'ID': np.str})

In [7]:
all_mscoco_info['ID'] = all_mscoco_info['ID'].apply(lambda x: processImageId(x))

In [8]:
all_mscoco_info.head()

,ID,brightness,rms_contrast,supercategories,categories,ratio
0,000000000009,118.620127,71.544835,"['kitchen', 'food']","['bowl', 'broccoli', 'orange']",0.750000
1,000000000025,100.919905,57.210135,['animal'],['giraffe'],0.665625
2,000000000030,130.607893,62.173383,"['indoor', 'furniture']","['vase', 'potted plant']",0.668750
3,000000000034,106.482603,55.478319,['animal'],['zebra'],0.664062
4,000000000036,141.843217,49.728125,"['person', 'accessory']","['umbrella', 'person']",1.330561

In [9]:
our_image_info = all_mscoco_info.loc[all_mscoco_info['ID'].isin(image_order_1['image_id'])]
our_image_info['supercategories'] = our_image_info['supercategories'].apply(lambda x: x[2:-2])
our_image_info['categories'] = our_image_info['categories'].apply(lambda x: x[2:-2])

c:\users\dea\anaconda3\envs\tensorflowgpu\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\dea\anaconda3\envs\tensorflowgpu\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
our_image_info.columns = ['', 'brightness', 'rms_contrast', 'supercategories', 'categories',
       'ratio']

Index(['ID', 'brightness', 'rms_contrast', 'supercategories', 'categories',
       'ratio'],
      dtype='object')

In [10]:
our_image_info.head()

               ID  brightness  rms_contrast supercategories categories  ratio
418  000000002061  138.172037     57.002787       furniture     toilet   0.75
470  000000002342  135.688587     58.412852          animal    giraffe   0.75
598  000000003084  120.102751     48.705221          indoor      clock   0.75
979  000000005154  116.898115     45.521527       furniture        bed   0.75
984  000000005174  119.665706     62.867596         vehicle        bus   0.75

In [60]:
len(our_image_info)

690

In [61]:
our_image_info.to_csv('../data/our_image_statistics.csv')